<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="~/css/resultsstyle.css"/>
</head>
<body>
    <div class="container2">
        <div class="big-box2">
            <h1>Submitted Info:</h1>
            <div class="col-con">
                <div class="col-1">
                    <p>Name:</p>
                    <p>Dojo Location:</p>
                    <p>Favorite Language:</p>
                    <p>Comment:</p>
                </div>
                <div class="col-2">
                    <p>@ViewBag.name</p>
                    <p>@ViewBag.location</p>
                    <p>@ViewBag.language</p>
                    <p>@ViewBag.comment</p>
                </div>
            </div>
            <div id="btn-con2">
                <a id="back-btn" href="/">Back</a>
            </div>
        </div>
    </div>
</body>
</html>