<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
    <link rel="stylesheet" href="~/css/surveystyle.css"/>
</head>
<body>
    <div class="container">
        <div class="big-box">
            <form action="method" method="post">
                <div class="name">
                    <label>Your Name:</label>
                    <input type="text" name="name">
                </div>
                <div class="location">
                    <label>Dojo Location:</label>
                    <select name="location">
                        <option>San Jose</option>
                        <option>Burbank</option>
                    </select>
                </div>
                <div class="language">
                    <label>Favorite Language:</label>
                    <select name="language">
                        <option>C#</option>
                        <option>Python</option>
                        <option>Javascript</option>
                    </select>
                </div>
                <div class="comment">
                    <label>Comment (optional):</label>
                    <div>
                        <input type="text" name="comment" id="comment-box">
                    </div>
                </div>
                <div id="btn-con">
                    <button id="submit-btn">Submit</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>