* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
}
.big-box {
    border: black;
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    display: flex;
    width: 510px;
    height: 250px;
}
#comment-box {
    width: 500px;
    height: 70px;
    margin-top: 10px;
}
.name {
    margin-top: 10px;
}
.name label {
    margin-right: 250px;
}
.location {
    margin-top: 10px;
}
.location label {
    margin-right: 232px;
}
.language {
    margin-top: 10px;
}
.language label {
    margin-right: 204px;;
}
.comment {
    margin-top: 10px;
    margin-bottom: 10px;
}
#btn-con {
    text-align: right;
}
#submit-btn {
    background-color: teal;
    border-style: none;
    border-radius: 2px;
    color: white;
}